<div class="relative flex flex-col w-full h-full">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg">Seleccionar un funcionario</div>
        <button mat-icon-button (click)="closeModalSelectOfficialByLevelProfile()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <!-- Edit official -->
    <form class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto" [formGroup]="selectOfficialForm">
        <!-- official -->
        <div class="flex flex-auto">
            <div class="flex flex-col w-3/4">
                <mat-form-field class="angel-mat-no-subscript w-full">
                    <mat-label>Funcionarios</mat-label>
                    <mat-select [formControlName]="'id_level_profile_official'" (selectionChange)="changeSelect()">
                        <mat-option *ngFor="let item of listLevelProfileOfficial"
                            [value]="item.id_level_profile_official" [disabled]="item.isSelected"
                            [matTooltip]="item.official.user.person.dni_person">
                            {{item.official.user.person.name_person}}
                            {{item.official.user.person.last_name_person}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="flex flex-col w-1/4 pl-5">
                <mat-form-field class="angel-mat-no-subscript w-full">
                    <mat-label>Tareas</mat-label>
                    <input matInput [formControlName]="'number_task'" readonly>
                </mat-form-field>
            </div>
        </div>
        <div class="flex items-center justify-center sm:justify-end py-2 space-x-3 ng-star-inserted br-10 pt-6">
            <!-- Delete -->
            <button mat-flat-button
                class="mat-focus-indicator mat-flat-button mat-button-base mat-warn ng-star-inserted"
                (click)="closeModalSelectOfficialByLevelProfile()">
                Cancelar
            </button>
            <!-- Send -->
            <button class="order-first sm:order-last" mat-stroked-button [color]="'primary'"
                [disabled]="selectOfficialForm.invalid" [mat-dialog-close]="id_official">
                Aceptar
            </button>
        </div>
    </form>
</div>