<div class="relative flex flex-col w-full h-full">

  <!-- Header -->
  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
    <div class="text-lg">{{item.name_item}}</div>
    <button mat-icon-button [tabIndex]="-1" (click)="closeModalItem()">
      <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
  </div>
  <div class="flex flex-col flex-auto overflow-y-auto">
    <div class="flex flex-col w-full">
      <!-- View mode -->
      <ng-container *ngIf="!editMode">
        <!-- Header -->
        <div class="relative w-full h-40 flex items-center bg-accent-100 dark:bg-accent-700 place-content-center">
          <!-- Background -->
          <div class="w-full h-40 bg-black z-10 opacity-0">
          </div>
          <h1 class="absolute z-20 text-dark text-3xl">{{nameEntity}}
          </h1>
          <!-- Light version -->
          <img class="dark:hidden absolute inset-0 object-cover w-full h-full" src="assets/images/background.svg">
          <!-- Dark version -->
          <img class="hidden dark:flex absolute inset-0 object-cover w-full h-full"
            src="assets/images/background-on-dark.svg">
        </div>
        <!-- Entity -->
        <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
          <div class="w-full max-w-3xl">
            <!-- Actions -->
            <div
              class="flex items-center -mx-6 sm:-mx-12 py-4 pr-6 pl-6 sm:pr-12 sm:pl-12 border-t bg-gray-100 dark:bg-transparent rounded-t-none rounded-b-2xl">
              <button mat-stroked-button (click)="toggleEditMode(true)">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                <span class="ml-1">Editar</span>
              </button>
            </div>
            <div class="flex flex-col space-y-8">
              <!-- name_attached -->
              <ng-container *ngIf="attached.name_attached">
                <div class="flex sm:items-center">
                  <mat-icon [svgIcon]="'heroicons_outline:credit-card'"></mat-icon>
                  <div class="ml-6 leading-6">{{attached.name_attached}}</div>
                </div>
              </ng-container> <!-- description_attached -->
              <ng-container *ngIf="attached.description_attached">
                <div class="flex sm:items-center">
                  <mat-icon [svgIcon]="'heroicons_outline:tag'"></mat-icon>
                  <div class="ml-6 leading-6">{{attached.description_attached}}</div>
                </div>
              </ng-container> <!-- length_mb_attached -->
              <ng-container *ngIf="attached.length_mb_attached">
                <div class="flex sm:items-center">
                  <mat-icon [svgIcon]="'mat_outline:crop_free'"></mat-icon>
                  <div class="ml-6 leading-6">{{attached.length_mb_attached + ' MB'}}</div>
                </div>
              </ng-container> <!-- required_attached -->
              <ng-container>
                <div class="flex sm:items-center">
                  <mat-icon [svgIcon]="'heroicons_outline:shield-check'"></mat-icon>
                  <div class="ml-6 leading-6">{{attached.required_attached ? 'Obligatorio':'Opcional'}}</div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>

      <!-- Edit mode -->
      <ng-container *ngIf="editMode">
        <!-- Header -->
        <div class="relative w-full h-40 flex items-center bg-accent-100 dark:bg-accent-700 place-content-center">
          <!-- Background -->
          <div class="w-full h-40 bg-black z-10 opacity-25">
          </div>
          <h1 class="absolute z-20 text-dark text-3xl">{{nameEntity}}
          </h1>
          <!-- Light version -->
          <img class="dark:hidden absolute inset-0 object-cover w-full h-full" src="assets/images/background.svg">
          <!-- Dark version -->
          <img class="hidden dark:flex absolute inset-0 object-cover w-full h-full"
            src="assets/images/background-on-dark.svg">
        </div>
        <!-- form -->
        <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
          <div class="w-full max-w-3xl">
            <!-- Actions -->
            <div
              class="flex items-center -mx-6 sm:-mx-12 py-4 pr-6 pl-6 sm:pr-12 sm:pl-12 border-t bg-gray-100 dark:bg-transparent rounded-t-none rounded-b-2xl">
              <!-- Save -->
              <button mat-flat-button [color]="'primary'" class="ml-auto" [disabled]="itemForm.invalid"
                [matTooltip]="'Guardar'" (click)="updateItem()">
                Guardar
              </button>
              <!-- Delete -->
              <button mat-stroked-button class="ml-2" [color]="'warn'" [matTooltip]="'Eliminar'" (click)="deleteItem()">
                Eliminar
              </button>
              <!-- Cancel -->
              <button mat-stroked-button class="ml-2" [matTooltip]="'Cancelar'" (click)="toggleEditMode(false)">
                Cancelar
              </button>
            </div>
            <form [formGroup]="itemForm" class="mb-8">
              <!-- Alert -->
              <angel-alert class="mt-4 mb-8" *ngIf="itemForm.invalid || showAlert" [appearance]="'outline'"
                [showIcon]="false" [type]="alert.type" [@shake]="alert.type === 'error'">
                <!-- MessageAPI if alert is actived for the component -->
                {{alert.message}}
                <!-- name_attached -->
                <mat-error *ngIf="attachedForm.get('name_attached')?.hasError('required')">
                  • Ingrese name_attached
                </mat-error>
                <!-- description_attached -->
                <mat-error *ngIf="attachedForm.get('description_attached')?.hasError('required')">
                  • Ingrese description_attached
                </mat-error>
                <!-- length_mb_attached -->
                <mat-error *ngIf="attachedForm.get('length_mb_attached')?.hasError('required')">
                  • Ingrese length_mb_attached
                </mat-error>
                <mat-error *ngIf="attachedForm.get('length_mb_attached')?.hasError('max')">
                  • Tamaño maximo 99999 MB
                </mat-error>
                <mat-error *ngIf="attachedForm.get('length_mb_attached')?.hasError('min')">
                  • Tamaño mínimo 1 MB
                </mat-error>
                <!-- required_attached -->
                <mat-error *ngIf="attachedForm.get('required_attached')?.hasError('required')">
                  • Ingrese required_attached
                </mat-error>
              </angel-alert>
              <!-- Alert -->
              <!-- name_attached -->
              <div class="mt-8">
                <mat-form-field class="angel-mat-no-subscript w-full">
                  <mat-label>nameAttached</mat-label>
                  <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:credit-card'">
                  </mat-icon>
                  <input matInput maxlength="100" [formControlName]="'name_attached'" [placeholder]="'name_attached'"
                    [spellcheck]="false">
                </mat-form-field>
              </div> <!-- description_attached -->
              <div class="mt-8">
                <mat-form-field class="angel-mat-no-subscript w-full">
                  <mat-label>descriptionAttached</mat-label>
                  <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:tag'">
                  </mat-icon>
                  <input matInput maxlength="250" [formControlName]="'description_attached'"
                    [placeholder]="'description_attached'" [spellcheck]="false">
                </mat-form-field>
              </div>
              <!-- length_mb_attached -->
              <div class="mt-8">
                <mat-form-field class="angel-mat-no-subscript w-full">
                  <mat-label>length_mb_attached</mat-label>
                  <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'mat_outline:crop_free'">
                  </mat-icon>
                  <input matInput [formControlName]="'length_mb_attached'" type="number" min="1" max="99999"
                    [placeholder]="'length_mb_attached'" [spellcheck]="false">
                </mat-form-field>
              </div>
              <!-- required_attached -->
              <div class="mt-8">
                <mat-form-field class="angel-mat-no-subscript w-full">
                  <mat-label>required_attached</mat-label>
                  <mat-select [formControlName]="'required_attached'">
                    <mat-option [value]="true">Si</mat-option>
                    <mat-option [value]="false">No</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </form>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>