<div class="relative flex flex-col w-full h-full">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg">Versiones</div>
        <button mat-icon-button (click)="createFlowVersion()" [tabIndex]="-1" class="ml-auto"
            [matTooltip]="'Nueva versión'">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:plus'"></mat-icon>
        </button>
        <button mat-icon-button (click)="closeModalFlowVersion()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <form class="flex flex-col flex-auto px-6 pb-6 sm:px-8 sm:pb-8 overflow-y-auto mt-2" [formGroup]="flowVersionForm">
        <div class="mt-4">

            <!-- Versiones -->
            <div class="flex flex-col sm:flex-row md:flex-col flex-auto px-6 md:px-8 items-center">
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
                    <ng-container *ngIf="true">
                        <ng-container
                            *ngFor="let versionElement of formArrayVersion.controls; let i = index; trackBy: trackByFn">
                            <a
                                class="flex flex-col items-center w-56 p-6 rounded-lg shadow bg-card hover:shadow-xl transition-shadow duration-150 ease-in-out">
                                <div
                                    class="flex items-center justify-center p-4 rounded-full bg-primary-50 text-primary-700 dark:bg-primary dark:text-on-primary">
                                    <mat-icon class="text-current" [svgIcon]="'heroicons_outline:template'"></mat-icon>
                                </div>
                                <!-- name_template -->
                                <div class="mt-5 text-lg font-medium leading-5">
                                    Versión {{formArrayVersion.getRawValue()[i].number_flow_version}}</div>
                                <div class="mt-6 flex items-center">
                                    <mat-slide-toggle class="mr-4"
                                        [disabled]="havedFlowVersionActived && !formArrayVersion.getRawValue()[i].status_flow_version"
                                        [formControl]="getFromControl(formArrayVersion, i, 'status_flow_version')"
                                        (change)="updateStatusFlowVersion(i)" [color]="'primary'">
                                    </mat-slide-toggle>
                                    <div class="group inline-flex items-center ml-auto py-2 px-4 rounded cursor-pointer"
                                        (click)="openModalVersion(formArrayVersion.getRawValue()[i].id_flow_version)">
                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil-alt'">
                                        </mat-icon>
                                    </div>
                                    <div class="group inline-flex items-center ml-auto py-2 px-4 rounded cursor-pointer"
                                        (click)="deleteFlowVersion(i)">
                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                    </div>
                                </div>
                                <!-- status_template -->
                                <div class="w-full h-1 mt-5 border-t-2"></div>
                                <div class="flex items-center mt-5 -space-x-1.5">
                                    <ng-container>
                                        <div *ngIf="formArrayVersion.getRawValue()[i].status_flow_version"
                                            class="w-4 h-4 bg-green-700 rounded-full">
                                        </div>
                                        <div *ngIf="!formArrayVersion.getRawValue()[i].status_flow_version"
                                            class="w-4 h-4 bg-red-600 rounded-full">
                                        </div>
                                    </ng-container>
                                </div>
                                <!-- Last activity -->
                                <div class="flex items-center mt-4 text-sm font-md">
                                    <div class="text-secondary">Creado:</div>
                                    <div class="ml-1">
                                        {{formatDateAsRelative(formArrayVersion.getRawValue()[i].creation_date_flow_version!)}}
                                    </div>
                                </div>
                            </a>
                        </ng-container>

                    </ng-container>
                </div>
            </div>
            <!-- Versiones -->
            <!-- Alert -->
            <div *ngIf="flowVersions$ | async as _flowVersions">
                <angel-alert class="mt-6" *ngIf="_flowVersions.length == 0" [appearance]="'outline'" [showIcon]="false"
                    [type]="alert.type" [@shake]="alert.type === 'error'">
                    <!-- Message if alert is actived for the component -->
                    {{alert.message}}
                    <mat-error *ngIf="_flowVersions.length == 0">
                        • No hay versiones
                    </mat-error>
                </angel-alert>
            </div>
            <!-- Alert -->
        </div>
    </form>

</div>