<div class="flex flex-col w-full">
    <!-- View mode -->
    <ng-container *ngIf="!editMode">
        <!-- Header -->
        <div class="relative w-full h-40 flex items-center bg-accent-100 dark:bg-accent-700 place-content-center">
            <!-- Background -->
            <div class="w-full h-40 bg-black z-10 opacity-0">
            </div>
            <h1 class="absolute z-20 text-dark text-3xl">{{nameEntity}}
            </h1>
            <!-- Light version -->
            <img class="dark:hidden absolute inset-0 object-cover w-full h-full" src="assets/images/background.svg">
            <!-- Dark version -->
            <img class="hidden dark:flex absolute inset-0 object-cover w-full h-full"
                src="assets/images/background-on-dark.svg">
        </div>
        <!-- Entity -->
        <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
            <div class="w-full max-w-3xl">
                <!-- Actions -->
                <div
                    class="flex items-center -mx-6 sm:-mx-12 py-4 pr-6 pl-6 sm:pr-12 sm:pl-12 border-t bg-gray-100 dark:bg-transparent rounded-t-none rounded-b-2xl">
                    <button mat-stroked-button class="ml-auto" [matTooltip]="'Cerrar'" [routerLink]="['../']">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                        <span class="ml-1">Cerrar</span>
                    </button>
                </div>
                <div class="flex flex-col mt-4 pt-6 space-y-8">
                    <!-- id_process -->
                    <ng-container *ngIf="task.process.id_process">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:credit-card'"></mat-icon>
                            <div class="ml-6 leading-6">{{selectedProcess.number_process}}</div>
                        </div>
                    </ng-container> <!-- id_official -->
                    <ng-container *ngIf="task.official.id_official">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:credit-card'"></mat-icon>
                            <div class="ml-6 leading-6">{{selectedOfficial.user.name_user}}</div>
                        </div>
                    </ng-container> <!-- id_level -->
                    <ng-container *ngIf="task.level.id_level">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:credit-card'"></mat-icon>
                            <div class="ml-6 leading-6">{{selectedLevel.name_level}}</div>
                        </div>
                    </ng-container> <!-- creation_date_task -->
                    <ng-container *ngIf="task.creation_date_task">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:credit-card'"></mat-icon>
                            <div class="ml-6 leading-6">{{task.creation_date_task}}</div>
                        </div>
                    </ng-container> <!-- type_action -->
                    <ng-container *ngIf="task.type_action">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:credit-card'"></mat-icon>
                            <div class="ml-6 leading-6">{{task.type_action}}</div>
                        </div>
                    </ng-container> <!-- action_date_task -->
                    <ng-container *ngIf="task.action_date_task">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:credit-card'"></mat-icon>
                            <div class="ml-6 leading-6">{{task.action_date_task}}</div>
                        </div>
                    </ng-container> <!-- finished_task -->
                    <ng-container *ngIf="task.finished_task">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:credit-card'"></mat-icon>
                            <div class="ml-6 leading-6">{{task.finished_task}}</div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Edit mode -->
    <ng-container *ngIf="editMode">
        <!-- Header -->
        <div class="relative w-full h-40 flex items-center bg-accent-100 dark:bg-accent-700 place-content-center">
            <!-- Background -->
            <div class="w-full h-40 bg-black z-10 opacity-25">
            </div>
            <h1 class="absolute z-20 text-dark text-3xl">{{nameEntity}}
            </h1>
            <!-- Light version -->
            <img class="dark:hidden absolute inset-0 object-cover w-full h-full" src="assets/images/background.svg">
            <!-- Dark version -->
            <img class="hidden dark:flex absolute inset-0 object-cover w-full h-full"
                src="assets/images/background-on-dark.svg">
        </div>
        <!-- form -->
        <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
            <div class="w-full max-w-3xl">
                <!-- Actions -->
                <div
                    class="flex items-center -mx-6 sm:-mx-12 py-4 pr-6 pl-6 sm:pr-12 sm:pl-12 border-t bg-gray-100 dark:bg-transparent rounded-t-none rounded-b-2xl">
                    <!-- Save -->
                    <button mat-flat-button [color]="'primary'" [disabled]="taskForm.invalid" [matTooltip]="'Guardar'"
                        (click)="updateTask()">
                        Guardar
                    </button>
                    <!-- Delete -->
                    <button mat-stroked-button class="ml-2" [color]="'warn'" [matTooltip]="'Eliminar'"
                        (click)="deleteTask()">
                        Eliminar
                    </button>

                    <button mat-stroked-button class="ml-auto" [matTooltip]="'Cerrar'" [routerLink]="['../']">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                        <span class="ml-1">Cerrar</span>
                    </button>
                </div>
                <form [formGroup]="taskForm" class="mb-8">
                    <!-- Alert -->
                    <angel-alert class="mt-8" *ngIf="taskForm.invalid || showAlert" [appearance]="'outline'"
                        [showIcon]="false" [type]="alert.type" [@shake]="alert.type === 'error'">
                        <!-- MessageAPI if alert is actived for the component -->
                        {{alert.message}}
                        <!-- id_control -->
                        <mat-error *ngIf="taskForm.get('id_control')?.hasError('required')">
                            • Ingrese id_control
                        </mat-error>
                        <mat-error *ngIf="taskForm.get('id_control')?.hasError('maxlength')">
                            • longitud maxima id_control
                        </mat-error>
                        <mat-error *ngIf="taskForm.get('id_control')?.hasError('minlength')">
                            • longitud minima id_control
                        </mat-error>
                    </angel-alert>
                    <!-- Alert -->
                    <!-- id_process -->
                    <div class="mt-8">
                        <mat-form-field class="angel-mat-no-subscript w-full">
                            <mat-label>Process</mat-label>
                            <mat-select [formControlName]="'id_process'" [value]="selectedProcess.id_process">
                                <ng-container *ngFor="let element of listProcess">
                                    <mat-option [value]="element.id_process">
                                        {{element.number_process}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div><!-- id_official -->
                    <div class="mt-8">
                        <mat-form-field class="angel-mat-no-subscript w-full">
                            <mat-label>Official</mat-label>
                            <mat-select [formControlName]="'id_official'" [value]="selectedOfficial.id_official">
                                <ng-container *ngFor="let element of listOfficial">
                                    <mat-option [value]="element.id_official">
                                        {{element.user.name_user}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div><!-- id_level -->
                    <div class="mt-8">
                        <mat-form-field class="angel-mat-no-subscript w-full">
                            <mat-label>Level</mat-label>
                            <mat-select [formControlName]="'id_level'" [value]="selectedLevel.id_level">
                                <ng-container *ngFor="let element of listLevel">
                                    <mat-option [value]="element.id_level">
                                        {{element.name_level}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div><!-- creation_date_task -->
                    <div class="mt-8">
                        <mat-form-field class="angel-mat-no-subscript w-full">
                            <mat-label>creationDateTask</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:credit-card'"></mat-icon>
                            <input matInput [formControlName]="'creation_date_task'"
                                [placeholder]="'creation_date_task'" [spellcheck]="false">
                        </mat-form-field>
                    </div> <!-- type_action -->
                    <div class="mt-8">
                        <mat-form-field class="angel-mat-no-subscript w-full">
                            <mat-label>typeAction</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:credit-card'"></mat-icon>
                            <input matInput [formControlName]="'type_action'" [placeholder]="'type_action'"
                                [spellcheck]="false">
                        </mat-form-field>
                    </div> <!-- action_date_task -->
                    <div class="mt-8">
                        <mat-form-field class="angel-mat-no-subscript w-full">
                            <mat-label>actionDateTask</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:credit-card'"></mat-icon>
                            <input matInput [formControlName]="'action_date_task'" [placeholder]="'action_date_task'"
                                [spellcheck]="false">
                        </mat-form-field>
                    </div> <!-- finished_task -->
                    <div class="mt-8">
                        <mat-form-field class="angel-mat-no-subscript w-full">
                            <mat-label>finishedTask</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:credit-card'"></mat-icon>
                            <input matInput [formControlName]="'finished_task'" [placeholder]="'finished_task'"
                                [spellcheck]="false">
                        </mat-form-field>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
</div>