<div class="relative flex flex-col w-full h-full">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg">Realizar tarea</div>
        <button mat-icon-button (click)="closeModalTaskRealize()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <!-- Edit process -->
    <form class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto" [formGroup]="taskRealizeForm">
        <!-- Lists -->
        <div class="flex">
            <div class="flex items-start w-full">
                <div class="flex-0 w-full p-2 rounded-2xl bg-default">
                    <div class="mt-2 rounded-xl bg-gray-400 bg-opacity-12 dark:bg-transparent dark:border p-3">
                        <div>
                            <ng-container *ngIf="template.plugin_item_process">
                                <div class="text-2xl mt-4">Items</div>
                                <!-- Items -->
                                <div class="space-y-4 mt-5">
                                    <ng-container
                                        *ngFor="let items of ['one', 'Two']; let i = index; let first = first; let last = last; trackBy: trackByFn">
                                        <div class="relative flex">
                                            <mat-form-field class="angel-mat-no-subscript w-full max-w-40">
                                                <mat-label *ngIf="first">Elemento</mat-label>
                                                <mat-select>
                                                    <mat-option *ngFor="let item of listItem; trackBy: trackByFn"
                                                        [value]="item.name_item" matTooltip="{{item.description_item}}">
                                                        {{item.name_item}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field class="angel-mat-no-subscript flex-auto ml-2 sm:ml-4">
                                                <mat-label *ngIf="first">Cantidad</mat-label>
                                                <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                                    [svgIcon]="'heroicons_solid:tag'">
                                                </mat-icon>
                                                <input matInput maxlength="5" type="number" min="1" max="99999">
                                            </mat-form-field>
                                            <mat-form-field
                                                class="angel-mat-no-subscript flex-auto w-full ml-2 sm:ml-4">
                                                <mat-label *ngIf="first">Características</mat-label>
                                                <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                                    [svgIcon]="'heroicons_solid:tag'">
                                                </mat-icon>
                                                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                                    [cdkAutosizeMinRows]="2" [cdkAutosizeMaxRows]="30"></textarea>
                                            </mat-form-field>
                                            <ng-container>
                                                <div class="flex items-center w-10 pl-2 self-start"
                                                    [ngClass]="{'mt-6': first}">
                                                    <button class="w-8 h-8 min-h-8" mat-icon-button
                                                        matTooltip="Eliminar">
                                                        <mat-icon class="icon-size-5"
                                                            [svgIcon]="'heroicons_solid:trash'">
                                                        </mat-icon>
                                                    </button>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </ng-container>
                                </div>
                                <div class="group inline-flex items-center mb-5 -ml-4 py-2 px-4 rounded cursor-pointer">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                                    <span class="ml-2 font-medium text-secondary group-hover:underline">Añadir
                                        elemento</span>
                                </div>
                            </ng-container>
                            <!-- Items -->
                            <!-- Controls -->
                            <ng-container *ngFor="let _templateControl of templateControl; trackBy: trackByFn">
                                <div cdkDrag
                                    class="flex flex-row items-center mb-3 p-5 shadow rounded-lg overflow-hidden bg-card">
                                    <!-- input -->
                                    <div *ngIf="
                                _templateControl.control.type_control==='input'" class="w-full">
                                        <mat-form-field class="angel-mat-no-subscript w-full">
                                            <mat-label>{{_templateControl.control.title_control}}</mat-label>
                                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                                [svgIcon]="'heroicons_outline:annotation'">
                                            </mat-icon>
                                            <input matInput
                                                [minlength]="_templateControl.control.min_length_control ? _templateControl.control.min_length_control : 0"
                                                [maxlength]="_templateControl.control.max_length_control ? _templateControl.control.max_length_control : 500"
                                                [formControlName]="_templateControl.control.form_name_control"
                                                [placeholder]="_templateControl.control.placeholder_control!"
                                                [spellcheck]="_templateControl.control.spell_check_control">
                                        </mat-form-field>
                                    </div>
                                    <!-- textArea -->
                                    <div *ngIf="_templateControl.control.type_control === 'textArea'" class="w-full">
                                        <mat-form-field class="angel-mat-textarea angel-mat-no-subscript w-full">
                                            <mat-label>{{_templateControl.control.title_control}}</mat-label>
                                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                                [svgIcon]="'heroicons_outline:annotation'"></mat-icon>
                                            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                                [cdkAutosizeMinRows]="5" [cdkAutosizeMaxRows]="30"
                                                [minlength]="_templateControl.control.min_length_control ? _templateControl.control.min_length_control : 0"
                                                [maxlength]="_templateControl.control.max_length_control ? _templateControl.control.max_length_control : 500"
                                                [formControlName]="_templateControl.control.form_name_control"
                                                [placeholder]="_templateControl.control.placeholder_control!"
                                                [spellcheck]="_templateControl.control.spell_check_control"></textarea>
                                        </mat-form-field>
                                    </div>
                                    <!-- radioButton -->
                                    <div *ngIf="_templateControl.control.type_control === 'radioButton'" class="w-full">
                                        <h4>{{_templateControl.control.title_control}}</h4>
                                        <mat-radio-group class="flex flex-col"
                                            [formControlName]="_templateControl.control.form_name_control">
                                            <mat-radio-button class="p-2"
                                                *ngFor="let option of _templateControl.control.options_control"
                                                [value]="option.value">
                                                {{option.name}}
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                    <!-- checkBox -->
                                    <div *ngIf="_templateControl.control.type_control === 'checkBox'" class="w-full">
                                        <h4>{{_templateControl.control.title_control}}</h4>
                                        <p
                                            *ngFor="let option of _templateControl.control.options_control; trackBy: trackByFn">
                                            <mat-checkbox class="p-2"
                                                [formControlName]="_templateControl.control.form_name_control+option.value">
                                                {{option.name}}
                                            </mat-checkbox>
                                        </p>
                                    </div>
                                    <!-- select -->
                                    <div *ngIf="_templateControl.control.type_control === 'select'" class="w-full">
                                        <mat-form-field class="angel-mat-no-subscript w-full">
                                            <mat-label>{{_templateControl.control.title_control}}</mat-label>
                                            <mat-select [formControlName]="_templateControl.control.form_name_control">
                                                <ng-container
                                                    *ngFor="let option of _templateControl.control.options_control; trackBy: trackByFn">
                                                    <mat-option [value]="option.value">
                                                        {{option.name}}</mat-option>
                                                </ng-container>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <!-- date -->
                                    <div *ngIf="_templateControl.control.type_control === 'date'" class="w-full">
                                        <mat-form-field class="angel-mat-no-subscript w-full">
                                            <mat-label>{{_templateControl.control.title_control}}</mat-label>
                                            <input matInput [matDatepicker]="fecha"
                                                [formControlName]="_templateControl.control.form_name_control"
                                                [placeholder]="_templateControl.control.placeholder_control!">
                                            <mat-datepicker-toggle matSuffix [for]="fecha">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #fecha></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <!-- dateRange -->
                                    <div *ngIf="_templateControl.control.type_control === 'dateRange'" class="w-full">
                                        <mat-form-field class="angel-mat-no-subscript w-full" appearance="fill">
                                            <mat-label>{{_templateControl.control.title_control}}</mat-label>
                                            <mat-date-range-input [rangePicker]="dateRange">
                                                <input matStartDate
                                                    [formControlName]="_templateControl.control.form_name_control + 'StartDate'">
                                                <input matEndDate
                                                    [formControlName]="_templateControl.control.form_name_control + 'EndDate'">
                                            </mat-date-range-input>
                                            <mat-datepicker-toggle matSuffix [for]="dateRange">
                                            </mat-datepicker-toggle>
                                            <mat-date-range-picker #dateRange></mat-date-range-picker>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </ng-container>
                            <!-- Attacheds -->
                            <ng-container
                                *ngIf="template.plugin_attached_process && template.documentation_profile.id_documentation_profile">
                                <div class="text-2xl mt-4">Anexos</div>
                                <div class="space-y-4">
                                    <ng-container
                                        *ngFor="let atacheds of formArrayAttached.controls; let i = index; let first = first; let last = last; trackBy: trackByFn">
                                        <div class="relative flex">
                                            <div class="flex flex-row w-full h-14 items-center">
                                                <div class="w-4/12 p-1">
                                                    {{formArrayAttached.getRawValue()[i].name_attached}}
                                                </div>
                                                <div class="w-6/12 p-1">
                                                    {{formArrayAttached.getRawValue()[i].description_attached}}</div>
                                                <div class="w-1/12 p-1">
                                                    {{(formArrayAttached.getRawValue()[i].required_attached)
                                                    ?
                                                    'Obl' : 'Opc'}}
                                                </div>
                                                <div class="w-1/12 p-1">
                                                    {{formArrayAttached.getRawValue()[i].length_mb_attached
                                                    +
                                                    'MB'}}
                                                </div>
                                            </div>
                                            <mat-form-field appearance="outline">
                                                <mat-label>Seleccionar archivo</mat-label>
                                                <ngx-mat-file-input #removableInput
                                                    formControlName="{{'removablefile'+i}}"
                                                    (change)="removableInput.setDisabledState(true)" [accept]="'.*'"
                                                    placeholder="Removable Input" (value)="removableInput">
                                                </ngx-mat-file-input>
                                                <mat-icon *ngIf="removableInput.empty" matSuffix>upload</mat-icon>
                                                <button mat-icon-button matSuffix *ngIf="!removableInput.empty"
                                                    [matTooltip]="formArrayAttached.getRawValue()[i].matTooltip"
                                                    (click)="removableInput.setDisabledState(true)">
                                                    <mat-icon class="icon-size-5"
                                                        [svgIcon]="'heroicons_solid:download'"></mat-icon>
                                                </button>
                                                <button mat-icon-button matSuffix *ngIf="!removableInput.empty"
                                                    (click)="removableInput.clear($event); removableInput.setDisabledState(false)">
                                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:trash'">
                                                    </mat-icon>
                                                </button>
                                            </mat-form-field>
                                        </div>
                                    </ng-container>
                                </div>
                                <!-- Attacheds -->
                            </ng-container>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="flex items-center justify-center sm:justify-end py-2 space-x-3 ng-star-inserted br-10 pt-6">
            <!-- Cancel -->
            <button mat-flat-button
                class="mat-focus-indicator mat-flat-button mat-button-base mat-warn ng-star-inserted"
                (click)="closeModalTaskRealize()">
                Cancelar
            </button>
            <!-- Send -->
            <button class="order-first sm:order-last" mat-stroked-button [color]="'primary'"
                [disabled]="taskRealizeForm.invalid">
                Aceptar
            </button>
        </div>
    </form>
</div>