<div class="relative flex flex-col w-full h-full">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg">Realizar tarea</div>
        <button mat-icon-button (click)="closeModalTaskRealize()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <!-- Edit process -->
    <form class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto bg-default" [formGroup]="taskRealizeForm">
        <!-- Lists -->
        <div class="flex">
            <div class="flex items-start w-full">
                <div class="flex-0 w-full rounded-2xl bg-default">
                    <div class="mt-2 rounded-xl bg-gray-400 bg-opacity-12 dark:bg-transparent dark:border p-3">
                        <div>
                            <ng-container *ngIf="template.plugin_item_process">
                                <div class="text-2xl mt-4">Items</div>
                                <!-- Items -->
                                <div class="space-y-4 mt-5 mb-5">
                                    <ng-container
                                        *ngFor="let elementItem of formArrayProcessItems.controls; let indexOne = index; let first = first; let last = last; trackBy: trackByFn">
                                        <div class="relative flex">
                                            <button mat-icon-button class="self-center" class="self-start"
                                                [ngClass]="first ? 'self-center' : 'self-start'"
                                                [matTooltip]="formArrayProcessItems.getRawValue()[indexOne].official.user.person.name_person + ' ' + formArrayProcessItems.getRawValue()[indexOne].official.user.person.last_name_person + ' - '">
                                                <span class="relative">
                                                    <img class="w-7 h-7 rounded-full"
                                                        *ngIf="formArrayProcessItems.getRawValue()[indexOne].official.user.avatar_user"
                                                        [src]="_urlPathAvatar + formArrayProcessItems.getRawValue()[indexOne].official.user.avatar_user">
                                                </span>
                                            </button>
                                            <ng-container *ngIf="select_plugin_item">
                                                <mat-form-field class="angel-mat-no-subscript w-full max-w-40">
                                                    <mat-label *ngIf="first">Elemento</mat-label>
                                                    <mat-select
                                                        [formControl]="getFromControl(formArrayProcessItems, indexOne, 'id_item')"
                                                        (selectionChange)="updateProcessItem(indexOne)">
                                                        <mat-option *ngFor="let item of listItem; trackBy: trackByFn"
                                                            [disabled]="item.isSelected" [value]="item.id_item"
                                                            matTooltip="{{item.description_item}}">
                                                            {{item.name_item}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </ng-container>

                                            <!-- Render horizontal columns -->
                                            <ng-container
                                                *ngFor="let column of pluginItemColumns; let indexTwo = index; let firstColumn = first; let lastColumn = last; trackBy: trackByFn">
                                                <mat-form-field
                                                    class="angel-mat-no-subscript flex-auto w-full ml-2 sm:ml-4">
                                                    <mat-label *ngIf="first">{{column.name_plugin_item_column}}
                                                    </mat-label>
                                                    <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                                        [svgIcon]="'heroicons_solid:tag'">
                                                    </mat-icon>
                                                    <textarea matInput cdkTextareaAutosize
                                                        #autosize="cdkTextareaAutosize" [cdkAutosizeMinRows]="2"
                                                        [formControlName]="'formControl'+column.name_plugin_item_column+indexOne"
                                                        [cdkAutosizeMaxRows]="30"
                                                        (change)="updateColumnProcessItem(column.name_plugin_item_column, indexOne, column)"></textarea>
                                                </mat-form-field>
                                            </ng-container>
                                            <!-- Render horizontal columns -->

                                            <ng-container>
                                                <div class="flex items-center w-10 pl-2 self-start"
                                                    [ngClass]="{'mt-6': first}">
                                                    <button class="w-8 h-8 min-h-8" mat-icon-button
                                                        (click)="deleteProcessItem(indexOne, pluginItemColumns)"
                                                        matTooltip="Eliminar">
                                                        <mat-icon class="icon-size-5"
                                                            [svgIcon]="'heroicons_solid:trash'">
                                                        </mat-icon>
                                                    </button>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </ng-container>
                                </div>
                                <div class="group inline-flex items-center mb-5 -ml-4 py-2 px-4 rounded cursor-pointer"
                                    *ngIf="!isSelectedAllProcessItem">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                                    <span class="ml-2 font-medium text-secondary group-hover:underline"
                                        (click)="createProcessItem()">Añadir
                                        elemento</span>
                                </div>
                            </ng-container>
                            <!-- Items -->
                            <div class="text-2xl mb-4" *ngIf="templateControl.length > 0">Controls</div>
                            <!-- Controls -->
                            <ng-container
                                *ngFor="let control of formArrayProcessControls.controls; let i = index; let first = first; let last = last; trackBy: trackByFn">
                                <div cdkDrag
                                    class="flex flex-row items-center mb-3 p-5 pl-0 shadow rounded-lg overflow-hidden bg-card">
                                    <!-- input -->
                                    <div *ngIf="
                                    formArrayProcessControls.getRawValue()[i].control.type_control ==='input'"
                                        class="w-full flex">
                                        <button *ngIf="formArrayProcessControls.getRawValue()[i].isComplete"
                                            mat-icon-button class="self-center"
                                            [matTooltip]="formArrayProcessControls.getRawValue()[i].official.user.person.name_person + ' ' + formArrayProcessControls.getRawValue()[i].official.user.person.last_name_person + ' - ' + parseTime(formArrayProcessControls.getRawValue()[i].last_change_process_control)">
                                            <span class="relative">
                                                <img class="w-7 h-7 rounded-full"
                                                    *ngIf="formArrayProcessControls.getRawValue()[i].official.user.avatar_user"
                                                    [src]="_urlPathAvatar + formArrayProcessControls.getRawValue()[i].official.user.avatar_user">
                                            </span>
                                        </button>
                                        <mat-form-field class="angel-mat-no-subscript w-full"
                                            [ngClass]="formArrayProcessControls.getRawValue()[i].isComplete ? 'ml-0':'ml-10'">
                                            <mat-label>
                                                {{formArrayProcessControls.getRawValue()[i].control.title_control}}
                                            </mat-label>
                                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                                [svgIcon]="'heroicons_outline:annotation'">
                                            </mat-icon>
                                            <input matInput (change)="updateProcessControl(i,$event)"
                                                [minlength]="formArrayProcessControls.getRawValue()[i].control.min_length_control ? formArrayProcessControls.getRawValue()[i].control.min_length_control : 0"
                                                [maxlength]="50"
                                                [formControlName]="formArrayProcessControls.getRawValue()[i].control.form_name_control"
                                                [placeholder]="formArrayProcessControls.getRawValue()[i].control.placeholder_control!"
                                                [spellcheck]="formArrayProcessControls.getRawValue()[i].control.spell_check_control">
                                        </mat-form-field>
                                    </div>
                                    <!-- textArea -->
                                    <div *ngIf="formArrayProcessControls.getRawValue()[i].control.type_control === 'textArea'"
                                        class="w-full flex">
                                        <button *ngIf="formArrayProcessControls.getRawValue()[i].isComplete"
                                            mat-icon-button class="self-center"
                                            [matTooltip]="formArrayProcessControls.getRawValue()[i].official.user.person.name_person + ' ' + formArrayProcessControls.getRawValue()[i].official.user.person.last_name_person + ' - ' + parseTime(formArrayProcessControls.getRawValue()[i].last_change_process_control)">
                                            <span class="relative">
                                                <img class="w-7 h-7 rounded-full"
                                                    *ngIf="formArrayProcessControls.getRawValue()[i].official.user.avatar_user"
                                                    [src]="_urlPathAvatar + formArrayProcessControls.getRawValue()[i].official.user.avatar_user">
                                            </span>
                                        </button>
                                        <mat-form-field class="angel-mat-textarea angel-mat-no-subscript w-full"
                                            [ngClass]="formArrayProcessControls.getRawValue()[i].isComplete ? 'ml-0':'ml-10'">
                                            <mat-label>
                                                {{formArrayProcessControls.getRawValue()[i].control.title_control}}
                                            </mat-label>
                                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                                [svgIcon]="'heroicons_outline:annotation'"></mat-icon>
                                            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                                (change)="updateProcessControl(i,$event)" [cdkAutosizeMinRows]="5"
                                                [cdkAutosizeMaxRows]="30"
                                                [minlength]="formArrayProcessControls.getRawValue()[i].control.min_length_control ? formArrayProcessControls.getRawValue()[i].control.min_length_control : 0"
                                                [maxlength]="formArrayProcessControls.getRawValue()[i].control.max_length_control ? formArrayProcessControls.getRawValue()[i].control.max_length_control : 500"
                                                [formControlName]="formArrayProcessControls.getRawValue()[i].control.form_name_control"
                                                [placeholder]="formArrayProcessControls.getRawValue()[i].control.placeholder_control!"
                                                [spellcheck]="formArrayProcessControls.getRawValue()[i].control.spell_check_control"></textarea>
                                        </mat-form-field>
                                    </div>
                                    <!-- radioButton -->
                                    <div *ngIf="formArrayProcessControls.getRawValue()[i].control.type_control === 'radioButton'"
                                        class="w-full flex">
                                        <button *ngIf="formArrayProcessControls.getRawValue()[i].isComplete"
                                            mat-icon-button class="self-center"
                                            [matTooltip]="formArrayProcessControls.getRawValue()[i].official.user.person.name_person + ' ' + formArrayProcessControls.getRawValue()[i].official.user.person.last_name_person + ' - ' + parseTime(formArrayProcessControls.getRawValue()[i].last_change_process_control)">
                                            <span class="relative self-start">
                                                <img class="w-7 h-7 rounded-full"
                                                    *ngIf="formArrayProcessControls.getRawValue()[i].official.user.avatar_user"
                                                    [src]="_urlPathAvatar + formArrayProcessControls.getRawValue()[i].official.user.avatar_user">
                                            </span>
                                        </button>
                                        <div class="flex flex-col"
                                            [ngClass]="formArrayProcessControls.getRawValue()[i].isComplete ? 'ml-0':'ml-10'">
                                            <h4>{{formArrayProcessControls.getRawValue()[i].control.title_control}}</h4>
                                            <mat-radio-group class="flex flex-col"
                                                (change)="updateProcessControl(i,$event)"
                                                [formControlName]="formArrayProcessControls.getRawValue()[i].control.form_name_control">
                                                <mat-radio-button class="p-2"
                                                    *ngFor="let option of formArrayProcessControls.getRawValue()[i].control.options_control"
                                                    [value]="option.value">
                                                    {{option.name}}
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                    <!-- checkBox -->
                                    <div *ngIf="formArrayProcessControls.getRawValue()[i].control.type_control === 'checkBox'"
                                        class="w-full flex">
                                        <button *ngIf="formArrayProcessControls.getRawValue()[i].isComplete"
                                            mat-icon-button class="self-center"
                                            [matTooltip]="formArrayProcessControls.getRawValue()[i].official.user.person.name_person + ' ' + formArrayProcessControls.getRawValue()[i].official.user.person.last_name_person + ' - ' + parseTime(formArrayProcessControls.getRawValue()[i].last_change_process_control)">
                                            <span class="relative self-start">
                                                <img class="w-7 h-7 rounded-full"
                                                    *ngIf="formArrayProcessControls.getRawValue()[i].official.user.avatar_user"
                                                    [src]="_urlPathAvatar + formArrayProcessControls.getRawValue()[i].official.user.avatar_user">
                                            </span>
                                        </button>
                                        <div class="flex flex-col"
                                            [ngClass]="formArrayProcessControls.getRawValue()[i].isComplete ? 'ml-0':'ml-10'">
                                            <h4>{{formArrayProcessControls.getRawValue()[i].control.title_control}}</h4>
                                            <p
                                                *ngFor="let option of formArrayProcessControls.getRawValue()[i].control.options_control; trackBy: trackByFn">
                                                <mat-checkbox class="p-2"
                                                    (change)="updateProcessControl(i,$event,option.value)"
                                                    [formControlName]="formArrayProcessControls.getRawValue()[i].control.form_name_control+option.value">
                                                    {{option.name}}
                                                </mat-checkbox>
                                            </p>
                                        </div>
                                    </div>
                                    <!-- select -->
                                    <div *ngIf="formArrayProcessControls.getRawValue()[i].control.type_control === 'select'"
                                        class="w-full flex">
                                        <button *ngIf="formArrayProcessControls.getRawValue()[i].isComplete"
                                            mat-icon-button class="self-center"
                                            [matTooltip]="formArrayProcessControls.getRawValue()[i].official.user.person.name_person + ' ' + formArrayProcessControls.getRawValue()[i].official.user.person.last_name_person + ' - ' + parseTime(formArrayProcessControls.getRawValue()[i].last_change_process_control)">
                                            <span class="relative self-start">
                                                <img class="w-7 h-7 rounded-full"
                                                    *ngIf="formArrayProcessControls.getRawValue()[i].official.user.avatar_user"
                                                    [src]="_urlPathAvatar + formArrayProcessControls.getRawValue()[i].official.user.avatar_user">
                                            </span>
                                        </button>
                                        <mat-form-field class="angel-mat-no-subscript w-full"
                                            [ngClass]="formArrayProcessControls.getRawValue()[i].isComplete ? 'ml-0':'ml-10'">
                                            <mat-label>
                                                {{formArrayProcessControls.getRawValue()[i].control.title_control}}
                                            </mat-label>
                                            <mat-select (selectionChange)="updateProcessControl(i,$event)"
                                                [formControlName]="formArrayProcessControls.getRawValue()[i].control.form_name_control">
                                                <ng-container
                                                    *ngFor="let option of formArrayProcessControls.getRawValue()[i].control.options_control; trackBy: trackByFn">
                                                    <mat-option [value]="option.value">
                                                        {{option.name}}</mat-option>
                                                </ng-container>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <!-- date -->
                                    <div *ngIf="formArrayProcessControls.getRawValue()[i].control.type_control === 'date'"
                                        class="w-full flex">
                                        <button *ngIf="formArrayProcessControls.getRawValue()[i].isComplete"
                                            mat-icon-button class="self-center"
                                            [matTooltip]="formArrayProcessControls.getRawValue()[i].official.user.person.name_person + ' ' + formArrayProcessControls.getRawValue()[i].official.user.person.last_name_person + ' - ' + parseTime(formArrayProcessControls.getRawValue()[i].last_change_process_control)">
                                            <span class="relative self-start">
                                                <img class="w-7 h-7 rounded-full"
                                                    *ngIf="formArrayProcessControls.getRawValue()[i].official.user.avatar_user"
                                                    [src]="_urlPathAvatar + formArrayProcessControls.getRawValue()[i].official.user.avatar_user">
                                            </span>
                                        </button>
                                        <mat-form-field class="angel-mat-no-subscript w-full"
                                            [ngClass]="formArrayProcessControls.getRawValue()[i].isComplete ? 'ml-0':'ml-10'">
                                            <mat-label>
                                                {{formArrayProcessControls.getRawValue()[i].control.title_control}}
                                            </mat-label>
                                            <input matInput [matDatepicker]="fecha"
                                                (dateChange)="updateProcessControl(i,$event)"
                                                [formControlName]="formArrayProcessControls.getRawValue()[i].control.form_name_control"
                                                [placeholder]="formArrayProcessControls.getRawValue()[i].control.placeholder_control!">
                                            <mat-datepicker-toggle matSuffix [for]="fecha">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #fecha></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <!-- dateRange -->
                                    <div *ngIf="formArrayProcessControls.getRawValue()[i].control.type_control === 'dateRange'"
                                        class="w-full flex">
                                        <button *ngIf="formArrayProcessControls.getRawValue()[i].isComplete"
                                            mat-icon-button class="self-center"
                                            [matTooltip]="formArrayProcessControls.getRawValue()[i].official.user.person.name_person + ' ' + formArrayProcessControls.getRawValue()[i].official.user.person.last_name_person + ' - ' + parseTime(formArrayProcessControls.getRawValue()[i].last_change_process_control)">
                                            <span class="relative self-start">
                                                <img class="w-7 h-7 rounded-full"
                                                    *ngIf="formArrayProcessControls.getRawValue()[i].official.user.avatar_user"
                                                    [src]="_urlPathAvatar + formArrayProcessControls.getRawValue()[i].official.user.avatar_user">
                                            </span>
                                        </button>
                                        <mat-form-field class="angel-mat-no-subscript w-full" appearance="fill"
                                            [ngClass]="formArrayProcessControls.getRawValue()[i].isComplete ? 'ml-0':'ml-10'">
                                            <mat-label>
                                                {{formArrayProcessControls.getRawValue()[i].control.title_control}}
                                            </mat-label>
                                            <mat-date-range-input [rangePicker]="dateRange">
                                                <input matStartDate [formControlName]="formArrayProcessControls.getRawValue()[i].control.form_name_control
                                                + 'StartDate'">
                                                <input matEndDate (dateChange)="updateProcessControl(i,$event)"
                                                    [formControlName]="formArrayProcessControls.getRawValue()[i].control.form_name_control + 'EndDate'">
                                            </mat-date-range-input>
                                            <mat-datepicker-toggle matSuffix [for]="dateRange">
                                            </mat-datepicker-toggle>
                                            <mat-date-range-picker #dateRange></mat-date-range-picker>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </ng-container>
                            <!-- Attacheds -->
                            <ng-container
                                *ngIf="template.plugin_attached_process && template.documentation_profile.id_documentation_profile">
                                <div class="text-2xl mt-4">Anexos</div>
                                <div class="space-y-4">
                                    <ng-container
                                        *ngFor="let atacheds of formArrayProcessAttacheds.controls; let i = index; let first = first; let last = last; trackBy: trackByFn">
                                        <div class="relative flex">
                                            <div class="flex flex-row w-full h-14 items-center">
                                                <button mat-icon-button class="self-center"
                                                    *ngIf="formArrayProcessAttacheds.getRawValue()[i].isUpload"
                                                    [matTooltip]="formArrayProcessAttacheds.getRawValue()[i].official.user.person.name_person + ' ' + formArrayProcessAttacheds.getRawValue()[i].official.user.person.last_name_person + ' - ' + parseTime(formArrayProcessAttacheds.getRawValue()[i].upload_date)">
                                                    <span class="relative">
                                                        <img class="w-7 h-7 rounded-full"
                                                            *ngIf="formArrayProcessAttacheds.getRawValue()[i].official.user.avatar_user"
                                                            [src]="_urlPathAvatar + formArrayProcessAttacheds.getRawValue()[i].official.user.avatar_user">
                                                    </span>
                                                </button>
                                                <div class="w-4/12 p-1">
                                                    {{formArrayProcessAttacheds.getRawValue()[i].name_attached}}
                                                </div>
                                                <div class="w-6/12 p-1">
                                                    {{formArrayProcessAttacheds.getRawValue()[i].description_attached}}
                                                </div>
                                                <div class="w-1/12 p-1">
                                                    {{(formArrayProcessAttacheds.getRawValue()[i].required_attached)
                                                    ?
                                                    'Obl' : 'Opc'}}
                                                </div>
                                                <div class="w-1/12 p-1">
                                                    {{formArrayProcessAttacheds.getRawValue()[i].length_mb_attached
                                                    +
                                                    'MB'}}
                                                </div>
                                            </div>
                                            <mat-form-field appearance="outline">
                                                <mat-label>Seleccionar archivo</mat-label>
                                                <ngx-mat-file-input #removableInput
                                                    formControlName="{{'removablefile'+i}}"
                                                    (change)="removableInput.setDisabledState(true);  createProcessAttached( $event.target,i); removableInput.clear($event);"
                                                    [accept]="'.*'" placeholder="Removable Input"
                                                    (value)="removableInput">
                                                </ngx-mat-file-input>
                                                <mat-icon *ngIf="removableInput.empty" matSuffix>upload</mat-icon>
                                                <button mat-icon-button matSuffix *ngIf="!removableInput.empty"
                                                    [matTooltip]="formArrayProcessAttacheds.getRawValue()[i].matTooltip"
                                                    (click)="removableInput.setDisabledState(true); downloadProcessAttached(i)">
                                                    <mat-icon class=" icon-size-5"
                                                        [svgIcon]="'heroicons_solid:download'"></mat-icon>
                                                </button>
                                                <button mat-icon-button matSuffix *ngIf="!removableInput.empty"
                                                    (click)="removableInput.clear($event); removableInput.setDisabledState(false); deleteProcessAttached(i);">
                                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:trash'">
                                                    </mat-icon>
                                                </button>
                                            </mat-form-field>
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>
                            <!-- Attacheds -->
                            <!-- Alert -->
                            <angel-alert class="mt-8"
                                *ngIf="taskRealizeForm.invalid || showAlert || (template.plugin_item_process && listItem.length == 0)|| (template.plugin_item_process && formArrayProcessItems.controls.length == 0)"
                                [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
                                [@shake]="alert.type === 'error'">
                                <!-- Message if alert is actived for the component -->
                                {{alert.message}}
                                <!-- Items -->
                                <mat-error *ngIf="template.plugin_item_process && listItem.length == 0">
                                    • No hay items registrados
                                </mat-error>
                                <mat-error
                                    *ngIf="template.plugin_item_process && formArrayProcessItems.controls.length == 0">
                                    • Tiene que seleccionar al menos un item
                                </mat-error>
                                <!-- process_item -->
                                <mat-error
                                    *ngFor="let row of processItem; let indexRow = index; let first = first; let last = last; trackBy: trackByFn">
                                    <ng-container
                                        *ngFor="let column of pluginItemColumns; let indexColumn = index; let first = first; let last = last; trackBy: trackByFn">
                                        <div
                                            *ngIf="taskRealizeForm.get('formControl'+column.name_plugin_item_column+indexRow)?.hasError('required')">
                                            Ingrese {{column.name_plugin_item_column}} en la fila {{indexRow+1}}
                                        </div>
                                        <div
                                            *ngIf="taskRealizeForm.get('formControl'+column.name_plugin_item_column+indexRow)?.hasError('maxlength')">
                                            La columna {{column.name_plugin_item_column}} en la fila {{indexRow+1}} ha
                                            excedido los caracteres máximos ({{column.lenght_plugin_item_column}}
                                            caracteres)
                                        </div>
                                    </ng-container>
                                </mat-error>
                                <!-- Controls -->
                                <mat-error
                                    *ngFor="let control of formArrayProcessControls.controls; let i = index; let first = first; let last = last; trackBy: trackByFn">
                                    <!-- Input -->
                                    <div *ngIf="
                                    formArrayProcessControls.getRawValue()[i].control.type_control ==='input'">
                                        <div
                                            *ngIf="taskRealizeForm.get(formArrayProcessControls.getRawValue()[i].control.form_name_control)?.hasError('required')">
                                            Ingrese ->
                                            {{formArrayProcessControls.getRawValue()[i].control.title_control}}
                                        </div>
                                        <div
                                            *ngIf="taskRealizeForm.get(formArrayProcessControls.getRawValue()[i].control.form_name_control)?.hasError('minlength')">
                                            Longitud mínima ->
                                            {{formArrayProcessControls.getRawValue()[i].control.min_length_control}}
                                            caracteres
                                        </div>
                                        <div
                                            *ngIf="taskRealizeForm.get(formArrayProcessControls.getRawValue()[i].control.form_name_control)?.hasError('maxlength')">
                                            Longitud máxima ->
                                            {{formArrayProcessControls.getRawValue()[i].control.max_length_control}}
                                            caracteres
                                        </div>
                                    </div>
                                    <!-- textArea -->
                                    <div *ngIf="
                                    formArrayProcessControls.getRawValue()[i].control.type_control ==='textArea'">
                                        <div
                                            *ngIf="taskRealizeForm.get(formArrayProcessControls.getRawValue()[i].control.form_name_control)?.hasError('required')">
                                            Ingrese ->
                                            {{formArrayProcessControls.getRawValue()[i].control.title_control}}
                                        </div>
                                        <div
                                            *ngIf="taskRealizeForm.get(formArrayProcessControls.getRawValue()[i].control.form_name_control)?.hasError('minlength')">
                                            Longitud mínima ->
                                            {{formArrayProcessControls.getRawValue()[i].control.min_length_control}}
                                            caracteres
                                        </div>
                                        <div
                                            *ngIf="taskRealizeForm.get(formArrayProcessControls.getRawValue()[i].control.form_name_control)?.hasError('maxlength')">
                                            Longitud máxima ->
                                            {{formArrayProcessControls.getRawValue()[i].control.max_length_control}}
                                            caracteres
                                        </div>
                                    </div>
                                    <!-- radioButton -->
                                    <div *ngIf="
                                    formArrayProcessControls.getRawValue()[i].control.type_control ==='radioButton'">
                                        <div
                                            *ngIf="taskRealizeForm.get(formArrayProcessControls.getRawValue()[i].control.form_name_control)?.hasError('required')">
                                            Seleccione ->
                                            {{formArrayProcessControls.getRawValue()[i].control.title_control}}
                                        </div>
                                    </div>
                                    <!-- select -->
                                    <div *ngIf="
                                     formArrayProcessControls.getRawValue()[i].control.type_control ==='select'">
                                        <div
                                            *ngIf="taskRealizeForm.get(formArrayProcessControls.getRawValue()[i].control.form_name_control)?.hasError('required')">
                                            Seleccione ->
                                            {{formArrayProcessControls.getRawValue()[i].control.title_control}}
                                        </div>
                                    </div>
                                    <!-- date -->
                                    <div *ngIf="
                                     formArrayProcessControls.getRawValue()[i].control.type_control ==='date'">
                                        <div
                                            *ngIf="taskRealizeForm.get(formArrayProcessControls.getRawValue()[i].control.form_name_control)?.hasError('required')">
                                            Seleccione ->
                                            {{formArrayProcessControls.getRawValue()[i].control.title_control}}
                                        </div>
                                    </div>
                                    <!-- dateRange -->
                                    <div *ngIf="
                                     formArrayProcessControls.getRawValue()[i].control.type_control ==='dateRange'">
                                        <div
                                            *ngIf="taskRealizeForm.get(formArrayProcessControls.getRawValue()[i].control.form_name_control+'StartDate')?.hasError('required')">
                                            Seleccione la fecha inicial ->
                                            {{formArrayProcessControls.getRawValue()[i].control.title_control}}
                                        </div>
                                        <div
                                            *ngIf="taskRealizeForm.get(formArrayProcessControls.getRawValue()[i].control.form_name_control+'EndDate')?.hasError('required')">
                                            Seleccione la fecha final ->
                                            {{formArrayProcessControls.getRawValue()[i].control.title_control}}
                                        </div>
                                    </div>
                                </mat-error>
                                <!-- Attacheds -->
                                <!-- removablefile -->
                                <mat-error
                                    *ngFor="let elementoAnexo of formArrayProcessAttacheds.controls; let i = index; let first = first; let last = last; trackBy: trackByFn">
                                    <div
                                        *ngIf="formArrayProcessAttacheds.getRawValue()[i].required_attached && !formArrayProcessAttacheds.getRawValue()[i].isUpload">
                                        • Seleccione el archivo {{i +1}}
                                    </div>
                                </mat-error>

                            </angel-alert>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex items-center justify-center sm:justify-end py-2 space-x-3 ng-star-inserted br-10 pt-6"
            *ngIf="task.type_status_task === 'progress' && task.type_action_task === 'received'">
            <!-- Send -->
            <button class="order-first sm:order-last" mat-stroked-button [color]="'primary'" (click)="sendTask()"
                [disabled]="(taskRealizeForm.invalid || (listItem.length == 0|| template.plugin_item_process && formArrayProcessItems.controls.length == 0))">
                Enviar
            </button>
        </div>
    </form>
</div>