<div class="flex flex-col w-full">
    <!-- View mode -->
    <ng-container *ngIf="!editMode">
        <!-- Header -->
        <div class="relative w-full h-40 flex items-center bg-accent-100 dark:bg-accent-700 place-content-center">
            <!-- Background -->
            <div class="w-full h-40 bg-black z-10 opacity-0">
            </div>
            <h1 class="absolute z-20 text-dark text-3xl">{{nameEntity}}
            </h1>
            <!-- Light version -->
            <img class="dark:hidden absolute inset-0 object-cover w-full h-full" src="assets/images/background.svg">
            <!-- Dark version -->
            <img class="hidden dark:flex absolute inset-0 object-cover w-full h-full"
                src="assets/images/background-on-dark.svg">
        </div>
        <!-- Entity -->
        <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
            <div class="w-full max-w-3xl">
                <!-- Actions -->
                <div
                    class="flex items-center -mx-6 sm:-mx-12 py-4 pr-6 pl-6 sm:pr-12 sm:pl-12 border-t bg-gray-100 dark:bg-transparent rounded-t-none rounded-b-2xl">
                    <button mat-stroked-button (click)="toggleEditMode(true)">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                        <span class="ml-1">Editar</span>
                    </button>
                    <button mat-stroked-button class="ml-auto" [matTooltip]="'Cerrar'" [routerLink]="['../']">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                        <span class="ml-1">Cerrar</span>
                    </button>
                </div>
                <div class="flex flex-col mt-4 pt-6 space-y-8">
                    <!-- id_template -->
                    <ng-container *ngIf="level.template.id_template">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:credit-card'"></mat-icon>
                            <div class="ml-6 leading-6">{{selectedTemplate.name_template}}</div>
                        </div>
                    </ng-container> <!-- id_level_profile -->
                    <ng-container *ngIf="level.level_profile.id_level_profile">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:credit-card'"></mat-icon>
                            <div class="ml-6 leading-6">{{selectedLevelProfile.name_level_profile}}</div>
                        </div>
                    </ng-container> <!-- id_level_status -->
                    <ng-container *ngIf="level.level_status.id_level_status">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:credit-card'"></mat-icon>
                            <div class="ml-6 leading-6">{{selectedLevelStatus.name_level_status}}</div>
                        </div>
                    </ng-container> <!-- name_level -->
                    <ng-container *ngIf="level.name_level">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:credit-card'"></mat-icon>
                            <div class="ml-6 leading-6">{{level.name_level}}</div>
                        </div>
                    </ng-container> <!-- description_level -->
                    <ng-container *ngIf="level.description_level">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:credit-card'"></mat-icon>
                            <div class="ml-6 leading-6">{{level.description_level}}</div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Edit mode -->
    <ng-container *ngIf="editMode">
        <!-- Header -->
        <div class="relative w-full h-40 flex items-center bg-accent-100 dark:bg-accent-700 place-content-center">
            <!-- Background -->
            <div class="w-full h-40 bg-black z-10 opacity-25">
            </div>
            <h1 class="absolute z-20 text-dark text-3xl">{{nameEntity}}
            </h1>
            <!-- Light version -->
            <img class="dark:hidden absolute inset-0 object-cover w-full h-full" src="assets/images/background.svg">
            <!-- Dark version -->
            <img class="hidden dark:flex absolute inset-0 object-cover w-full h-full"
                src="assets/images/background-on-dark.svg">
        </div>
        <!-- form -->
        <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
            <div class="w-full max-w-3xl">
                <!-- Actions -->
                <div
                    class="flex items-center -mx-6 sm:-mx-12 py-4 pr-6 pl-6 sm:pr-12 sm:pl-12 border-t bg-gray-100 dark:bg-transparent rounded-t-none rounded-b-2xl">
                    <!-- Save -->
                    <button mat-flat-button [color]="'primary'" [disabled]="levelForm.invalid" [matTooltip]="'Guardar'"
                        (click)="updateLevel()">
                        Guardar
                    </button>
                    <!-- Delete -->
                    <button mat-stroked-button class="ml-2" [color]="'warn'" [matTooltip]="'Eliminar'"
                        (click)="deleteLevel()">
                        Eliminar
                    </button>
                    <!-- Cancel -->
                    <button mat-stroked-button class="ml-2 mr-2" [matTooltip]="'Cancelar'"
                        (click)="toggleEditMode(false)">
                        Cancelar
                    </button>

                    <button mat-stroked-button class="ml-auto" [matTooltip]="'Cerrar'" [routerLink]="['../']">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                        <span class="ml-1">Cerrar</span>
                    </button>
                </div>
                <form [formGroup]="levelForm" class="mb-8">
                    <!-- Alert -->
                    <angel-alert class="mt-8" *ngIf="levelForm.invalid || showAlert" [appearance]="'outline'"
                        [showIcon]="false" [type]="alert.type" [@shake]="alert.type === 'error'">
                        <!-- MessageAPI if alert is actived for the component -->
                        {{alert.message}}
                        <!-- id_template -->
                        <mat-error *ngIf="levelForm.get('id_template')?.hasError('required')">
                            • Seleccione id_template
                        </mat-error>
                        <!-- id_level_profile -->
                        <mat-error *ngIf="levelForm.get('id_level_profile')?.hasError('required')">
                            • Seleccione id_level_profile
                        </mat-error>
                        <!-- id_level_status -->
                        <mat-error *ngIf="levelForm.get('id_level_status')?.hasError('required')">
                            • Seleccione id_level_status
                        </mat-error>
                        <!-- name_level -->
                        <mat-error *ngIf="levelForm.get('name_level')?.hasError('required')">
                            • Ingrese name_level
                        </mat-error>
                        <!-- description_level -->
                        <mat-error *ngIf="levelForm.get('description_level')?.hasError('required')">
                            • Ingrese description_level
                        </mat-error>
                    </angel-alert>
                    <!-- Alert -->
                    <!-- id_template -->
                    <div class="mt-8">
                        <mat-form-field class="angel-mat-no-subscript w-full">
                            <mat-label>Template</mat-label>
                            <mat-select [formControlName]="'id_template'" [value]="selectedTemplate.id_template">
                                <ng-container *ngFor="let element of listTemplate">
                                    <mat-option [value]="element.id_template">
                                        {{element.name_template}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div><!-- id_level_profile -->
                    <div class="mt-8">
                        <mat-form-field class="angel-mat-no-subscript w-full">
                            <mat-label>Actores</mat-label>
                            <mat-select [formControlName]="'id_level_profile'"
                                [value]="selectedLevelProfile.id_level_profile">
                                <ng-container *ngFor="let element of listLevelProfile">
                                    <mat-option [value]="element.id_level_profile">
                                        {{element.name_level_profile}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div><!-- id_level_status -->
                    <div class="mt-8">
                        <mat-form-field class="angel-mat-no-subscript w-full">
                            <mat-label>LevelStatus</mat-label>
                            <mat-select [formControlName]="'id_level_status'"
                                [value]="selectedLevelStatus.id_level_status">
                                <ng-container *ngFor="let element of listLevelStatus">
                                    <mat-option [value]="element.id_level_status">
                                        {{element.name_level_status}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div><!-- name_level -->
                    <div class="mt-8">
                        <mat-form-field class="angel-mat-no-subscript w-full">
                            <mat-label>nameLevel</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:credit-card'"></mat-icon>
                            <input matInput maxlength="100" [formControlName]="'name_level'"
                                [placeholder]="'name_level'" [spellcheck]="false">
                        </mat-form-field>
                    </div> <!-- description_level -->
                    <div class="mt-8">
                        <mat-form-field class="angel-mat-no-subscript w-full">
                            <mat-label>descriptionLevel</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:credit-card'"></mat-icon>
                            <input matInput maxlength="250" [formControlName]="'description_level'"
                                [placeholder]="'description_level'" [spellcheck]="false">
                        </mat-form-field>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
</div>